Block 1
--------------------
- 100 gram package weight
- 3 hour flight time with 5 hour run time
- Audable Beep sounder
- Report 10 digit grid location
- Report Altitude
- Report battery voltage
- Report binary flags for
  - LOCK if GPS is seeing > 3 satelites
  - ARM if Mission Time or Altitude exceeded
  - PYRO if pyro has been triggered after ARM
  - INVERT sensor for position (UP normal, INVERT after cutdown)
- Cut-down by
  - Mission Timer elapsed
  - Altitude threshold

Block 2
--------------------
- Field Programable via EEPROM Monitor
  - Set call sign
  - Set cut-down parameters
- Advance Telemetry
  - Report 10 digit grid location
  - Report Altitude
  - Report battery voltage
  - In/Out Temperature
  - Report binary flags for
    - LOCK if GPS is seeing > 3 satelites
    - ARM if Mission Time or Altitude exceeded
    - PYRO if pyro has been triggered after ARM
    - INVERT sensor for position (UP normal, INVERT after cutdown)
- Power Control
  - GPS
  - Si5351
- Cut-down by
  - Mission Timer elapsed
  - Altitude threshold
  - Geofence parameters
